h1 {
  color: lightgray; /* Default text color */
  font-size: 40px; /* Default font size */
  font-family: Arial, sans-serif; /* Default font family */
  font-style: normal; /* Default font style */
  font-weight: bold; /* Default font weight */
  text-align: center; /* Default text alignment */
  /* background-color: grey; */
}

.type {
  text-align: center;
}

.card-height {
  min-height: 200px;
}

.card-body {
  font-size: 25px;
  /* text-align: center; */
}

.hbar1 {
  display: inline;
  margin: 15px;
}

.fixed-bottom {
  background-color: #343a40!important;
  padding-top: 25px;
  /* size: 20px; */
  font-size: 20px;
}
